# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Environment variable files (optional, if you use .env)
.env

# Logs and dumps
*.log
*.pot
*.pyc

# Python egg info
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test coverage files
.coverage
htmlcov/

# mypy and Pyright
.mypy_cache/
.pyright/
